/* BASE STYLES */

body {
    background-color: var(--clr-primary-100);
    color: var(--clr-primary-300);
    font-family: var(--ff-primary);
    font-size: var(--fs-225);
    font-weight: var(--fw-bold);
}

:is(.header, .main, .footer) {
    --page-max-width: 80rem;
    --page-inline-gutter: var(--size-200);
    max-width: var(--page-max-width);
    padding-inline: var(--page-inline-gutter);
    margin-inline: auto;

    @media (width > 45rem) {
        --page-inline-gutter: var(--size-500);
    }
}

.heading {
    font-weight: var(--fw-extra-bold);
    color: var(--clr-primary-400);
}

.btn-link {
    color: var(--clr-primary-100);
    border-radius: 28px;
    padding-block: var(--size-150);
    padding-inline: var(--size-300);
    transition: 250ms ease-in-out;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0 / .25)
}