
/* CSS RESET */

/* Use a more-intuitive box-sizing model */
*, 
*::before, 
*::after {
    box-sizing: border-box;
  }
  
  /* Remove default margin */
  * {
    margin: 0;
  }
  
  /* Adjust default line height */
  body {
    line-height: 1.5;
  }
  
  /* Improve media defaults */
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    height: auto;
  }

  /* Remove default link styles */
  a {
    display: inline-block;
    text-decoration: none;
    color: currentColor;
  }
  
  /* Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* Avoid orphans on paragraphs */
  p {
    text-wrap: pretty;
  }

  /* Adjust heading defaults */
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    line-height: 1.2;
  }
