
.footer {
    background-color: var(--clr-primary-400);
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding-block: var(--size-300);
}

.footer-btn-link {
    background: linear-gradient(180deg, var(--clr-accent-700), var(--clr-accent-300));
}