
.header {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding-block: var(--size-300);
}

.header-btn-link {
    background-color: var(--clr-primary-400);
    color: var(--clr-primary-200);
    

    &:is(:hover, :focus-visible) {
        background-color: var(--clr-accent-500);
    }
}